body *{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: lightgray;
}

p {
    line-height: 1.5;
}

b {
    color: #333333;
}

.page {
    width: 1080px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
    padding-top: 25px;
	padding-bottom: 5px;
}

.description-right {
    padding-left: 40px;
}

.description-left {
    padding-right: 40px;
}


.pure-g {
    margin-bottom: 70px;
}

.New-South-Wales {
    color: #66c2a5;
    font-weight: bold;
}

.Queensland {
    color: #fc8d62;
    font-weight: bold;
}

.Tasmania {
    color: #e78ac3;
    font-weight: bold;
}

.Victoria {
    color: #a6d854;
    font-weight: bold;
}

.Western-Australia {
    color: #d8af09;
    font-weight: bold;
}

